doctype html
html(lang="es")
head
    title Página principal de la Clínica NovaTech
    meta(charset="utf-8")
    link(rel="stylesheet", href="/css/style.css")
body
    include components/navbar.pug

    div(class="container")
        img(src="/img/logoNovatech.png", alt="Logo de la Clínica NovaTech")
        h1 Bienvenido a la Clínica NovaTech

    h2(style="text-align: center; color: #007bff; margin-top: 30px") Menú principal

    div(style="display: flex; flex-direction: column; align-items: center; gap: 10px; margin-top: 10px")
        a(href="/api/v1/turnos") Ver turnos asignados
        a(href="/api/v1/turnos/nuevo") Crear un nuevo turno
        a(href="/api/v1/pacientes") Ver pacientes registrados
        a(href="/api/v1/pacientes/nuevo") Registrar un nuevo paciente
        if paciente
            a(href="/mis-turnos") Ver mis turnos

    footer
        hr
        p(style="text-align: center")
            a(href="/admin/login") Ingresar como administrador
        p(style="text-align: center") © #{new Date().getFullYear()} Clínica NovaTech - Desde 1945 mejorando la salud de nuestros pacientes.
        p(style="text-align: center") Desarrollado por el equipo de NovaTech (Castro,Jennifer y Murinigo,Mariano).
