doctype html
html(lang="es")
head
title Nuevo Paciente
meta(charset="utf-8")
link(rel="stylesheet", href="/css/style.css")
body
    include ./components/navbar.pug
    h1 Agregar nuevo paciente

    if error
        p(style="color: red") #{error}

    form.form-nuevo(action="/api/v1/pacientes", method="POST")
        div
            label(for="dni") DNI:
            input(type="text", name="dni", required)

        div
            label(for="nombre") Nombre:
            input(type="text", name="nombre", required)

        div
            label(for="apellido") Apellido:
            input(type="text", name="apellido", required)

        div
            label(for="email") Email:
            input(type="email", name="email", required)

        div
            label(for="password") Contraseña:
            input(type="password", name="password", required)

        button(type="submit") Agregar paciente

.enlaces-form
    a(href="/") ← Volver al inicio
    a(href="/api/v1/pacientes") Ver lista de pacientes