.parrafo {
    color: black; 
    margin: 10px 20px;
    font-size: 18px;

}

#contenedor {
    background-color: rgb(143, 240, 64);
    padding: 18px;
}

#contenedor ul {
    list-style-type: circle;
}

#tituloPrincipal {
    text-align: center;
    color:rgb(6, 14, 1)
}